@page "/map"
@rendermode InteractiveServer
@inject IJSRuntime JS

<div class="map-wrap">
    <iframe id="@_frameId"
            src="map-frame.html"
            frameborder="0"
            class="map-frame"></iframe>
</div>

@code {
    [Parameter] public string Address { get; set; } = "Санкт-Петербург";
    private readonly string _frameId = $"map-frame-{Guid.NewGuid()}";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("mapFrame.sendAddress", _frameId, Address);
        }
    }
}
